body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

form input, form select, form button {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}